<div class="primerdiv">
    <div class="segundodiv">
        <form>
            <div class="tercerdiv">
                <div class="inputbox">
                    <mat-icon>person</mat-icon>
                    <input type="text" [(ngModel)]="user" name="usuario" required="true" minlength="3" id="nombre">
                    <label for="">Identificador</label>
                    <!-- <div *ngIf="!formulariovalido">Nombre obligatorio</div> -->
                </div>
                <div class="inputbox">
                    <mat-icon>lock</mat-icon>
                    <input type="password" [(ngModel)]="password" name="contraseña" required="true">
                    <label for="">Contraseña</label>
                </div>
                <button type="submit" (click)="login()">Acceder</button>
            </div>
        </form>
    </div>
</div>