.label {
   position: relative;
   display: flex;
   font-weight: 500;
   font-size: 18px;
}

.divinput {
   position: relative;
   padding-left: 10px;
   width: 200px;   
   height: 30px;
   background-color: transparent;
   border-radius: 5px;
   border: 1px solid lightgray;
}

.divinput:focus {
   outline: 0 none;
   border: 2px solid gray;
}

.bordeizquierdo {
   position: relative;
   border-top-left-radius: 5px;
   border-bottom-left-radius: 5px;
   top: 50px;
   width: 6px;
   height: 30px;
   background-color: red;
}